#nav {
    padding-left: 0%;
}

#nav li {
    display: inline;
}

.formContainer {
    width: 60%;
    padding: 10px;
    margin: auto;
    display: flex;
    align-items: center;
}

.form .formSubmitButton {
    width: 10em;
    margin: auto;
}

.formItem {
    width: 50%;
    padding: 5px;
}

#profileFlexContainer {
    display: flex;
}

.profileDiv {
    width: 50%;
    margin: 10px;
}